/* ESTILOS GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --cor-primaria: #F3F5FC;
    --cor-secundaria: #0A3871;
    --cor-terciaria: white;

    --cor-btn-descriptografar: #D8DFE8;
    --cor-hover-btn-criptografar: #072B61;
    --cor-hover-btn-descriptografar: #EFF1FA;

    --fonte-principal: 'Inter', sans-serif;
    --cor-fonte-resultados: #495057;
}

body {
    font-family: var(--fonte-principal);
    background-color: var(--cor-primaria);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CABEÇALHO */

header {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
}
/* CONTEINER PRINCIPAL */

.container {
    display: flex;
    justify-content: center;
    gap: 5rem;
}

.container__principal {
    display: flex;
    flex-direction: column;
}

.container__principal textarea{
    height: 37.5rem;
    font-size: 2rem;
    border: none;
    background-color: var(--cor-primaria);
    font-family: 'Inter', sans-serif;
    padding-top: 1rem;
    resize: none;
}

.container__principal textarea::placeholder {
    color: var(--cor-secundaria);
}

.container__principal__aviso {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.container__principal__aviso__icone {
    height: 1.25rem;
}

.container__principal__btn {
    margin-top: 1.25rem;
}

.container__principal__btn button,
#btnCopiar {
    width: 20.5rem;
    padding: 1.5rem;
    font-size: 1rem;
    border-radius: 1.5rem;
}

/* BOTÕES */

.btn__criptografar {
    background-color: var(--cor-secundaria);
    margin-right: 1.5rem;
    color: var(--cor-terciaria);
    border: 1px solid var(--cor-secundaria);
    cursor: pointer;
}

.btn__descriptografar {
    background-color: var(--cor-btn-descriptografar);
    border: 1px solid var(--cor-secundaria);
    color: var(--cor-secundaria);
    cursor: pointer;
}

.btn__criptografar:hover {
    background-color: var(--cor-hover-btn-criptografar);
}

.btn__descriptografar:hover {
    background-color: var(--cor-hover-btn-descriptografar);
}

/* CONTAINER RESULTADO */

.container__resultados__null {
    background-color: var(--cor-terciaria);
    width: 25rem;
    height: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
}

.container__resultados__null img {
    width: 70%;
}

.container__resultados__null h2 {
    font-size: 1.25rem;
}

.container__resultado__novo{
    text-align: start;
    font-size: 1.5rem;
    color: var(--cor-fonte-resultados);
    justify-content: space-between;
    padding: 2rem;
}