@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #F3F5FC;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 40px;
    margin-left: 40px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.container__principal {
    display: flex;
    flex-direction: column;
}

.container__principal textarea{
    width: 680px;
    height: 600px;
    font-size: 32px;
    border: none;
    background-color: #F3F5FC;
    font-family: 'Inter', sans-serif;
    padding-top: 15px;
    resize: none;
}

.container__principal textarea::placeholder {
    color: #0A3871;
}

.container__principal__btn {
    margin-top: 20px;
}

.container__principal__btn button{
    width: 328px;
    padding: 24px;
    font-size: 16px;
    border-radius: 24px;
}

#btn__criptografar {
    background-color: #0A3871;
    margin-right: 24px;
    color: white;
    border: 1px solid #0A3871;
    cursor: pointer;
}

#btn__descriptografar {
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    color: #0A3871;
    cursor: pointer;
}

#btn__criptografar:hover {
    background-color: #072B61;
}

#btn__descriptografar:hover {
    background-color: #EFF1FA;
}

.container__resultados {
    background-color: white;
    width: 400px;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 32px;
}

.container__resultados img {
    width: 70%;
}

.container__resultados h2 {
    font-size: 20px;
}

.container__resultados p {
    font-size: 16px;
}